<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium_Automation" parallel="methods">
<!-- 
<groups>
<run>
<include name ="init"></include>
<include name ="smoke"></include>
<include name ="regression"></include>
</run>
</groups> -->

<parameter name ="browser" value ="chrome" />
<parameter name ="url" value ="http://demo.opencart.com" />
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.grid"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
